// Шрифты:
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Цвета:
$marble: #edeeed;
$dark: #242b33;
$accent: #0178ee;
$ref: #abc4ca;
$white: #fff;

// Медиа-запросы:
$tablet: 999px;
