.footer {
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: $accent;
  font-size: 14px;
  letter-spacing: 0.05rem;

  @include mediaTablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__form {
  img {
    max-width: 155px;
  }

  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
  }
}

.footer__text {
  padding-bottom: 15px;
}

.footer__social {
  display: flex;
  gap: 40px;
}
