.video {
  position: relative;
  text-align: center;
}

.video__title {
  margin-bottom: 37px;
  margin-top: 20px;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}
